## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
%matplotlib inline

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file.
path_file = os.path.join('../Weather_Database', 'WeatherPy_Database.csv')
city_data_df = pd.read_csv(path_file)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,49.62,76,75,29.93,broken clouds
1,1,Mataura,NZ,-46.1927,168.8643,57.47,95,100,2.71,overcast clouds
2,2,Flin Flon,CA,54.7682,-101.8650,6.64,66,100,10.36,light snow
3,3,Hermanus,ZA,-34.4187,19.2345,65.89,76,0,4.81,clear sky
4,4,Punta Arenas,CL,-53.1500,-70.9167,51.82,53,40,32.21,scattered clouds

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minimum_temp = float(input("For a more pleasant trip, what is the minimum temperature you expect? "))
maximum_temp = float(input("For a more pleasant trip, what is the maximum temperature you expect? "))

For a more pleasant trip, what is the minimum temperature you expect? 68
For a more pleasant trip, what is the maximum temperature you expect? 95

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
favorite_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= minimum_temp) & (city_data_df["Max Temp"] <= maximum_temp)]
favorite_cities_df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Kavieng,PG,-2.5744,150.7967,81.25,79,98,7.96,overcast clouds
9,9,Carnarvon,AU,-24.8667,113.6333,80.67,74,75,10.36,broken clouds
10,10,Kloulklubed,PW,7.0419,134.2556,82.33,75,100,11.72,overcast clouds
11,11,Rikitea,PF,-23.1203,-134.9692,78.67,74,89,20.02,light rain
12,12,Bethlehem,BR,-1.4558,-48.5044,75.24,94,75,12.66,thunderstorm with rain

In [22]:
# 4a. Determine if there are any empty rows.
print(len(favorite_cities_df))
favorite_cities_df.count()

292

City_ID                292
City                   292
Country                288
Lat                    292
Lng                    292
Max Temp               292
Humidity               292
Cloudiness             292
Wind Speed             292
Current Description    292
dtype: int64

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = favorite_cities_df.dropna()
print(clean_df.count())

City_ID                288
City                   288
Country                288
Lat                    288
Lng                    288
Max Temp               288
Humidity               288
Cloudiness             288
Wind Speed             288
Current Description    288
dtype: int64

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Kavieng,PG,81.25,overcast clouds,-2.5744,150.7967,
9,Carnarvon,AU,80.67,broken clouds,-24.8667,113.6333,
10,Kloulklubed,PW,82.33,overcast clouds,7.0419,134.2556,
11,Rikitea,PF,78.67,light rain,-23.1203,-134.9692,
12,Bethlehem,BR,75.24,thunderstorm with rain,-1.4558,-48.5044,
13,Butaritari,KI,80.96,light rain,3.0707,172.7902,
17,Atuona,PF,78.26,clear sky,-9.8000,-139.0333,
19,East London,ZA,72.54,few clouds,-33.0153,27.9116,
20,Santa Cruz,BO,93.25,scattered clouds,-17.8000,-63.1667,
21,Rajura,IN,68.85,clear sky,19.7833,79.3667,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
       # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Kavieng,PG,81.25,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
9,Carnarvon,AU,80.67,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
10,Kloulklubed,PW,82.33,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
11,Rikitea,PF,78.67,light rain,-23.1203,-134.9692,People ThankYou
12,Bethlehem,BR,75.24,thunderstorm with rain,-1.4558,-48.5044,Mercure Belém Boulevard

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))